/* ReviewCard.css */

/* Testimonials.css */



.review-card {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  border: 2px solid transparent; /* Set initial border as transparent */
  border-image: linear-gradient(to right, #FFD700, #FFA500);
  border-image-slice: 1;
  color: white;
}

  
  .rating {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the stars vertically */
    margin-right: 10px; /* Add some space between the stars and the description */
    
  }
  
  .star-filled {
    color: #ffc107; /* Yellow color for filled stars */
  }
  
  .star-empty {
    color: #ccc; /* Light gray color for empty stars */
  }
  
  .description {
    text-align: left;
    font-size: 16px;
    flex: 1; /* Take up remaining space */
  }

.profile-image {
  width: 10px; /* Smaller size */
  height: 10px; /* Smaller size */
  border-radius: 50%; /* Keeps the image circular */
  margin-right: 3px; /* Adjusts spacing to better fit the smaller size */
  object-fit: cover; /* Ensures the image covers the space without stretching */
}

