/* LoginPage.css */
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    background: url center center no-repeat;
    background-color: #19181D;
    background-size: cover;
    font-family: Roboto;
}

.login-section {
    background: #131215;
    /* Dark background for the section */
    padding: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}

.login-form h2 {
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--Text-Color, #FFF4DF);
    text-align: left;
}

.input-container {
    margin: 20px 0;
}

.input-container input {
    inline-size: 100%;
    padding: 20px;
    margin-block-end: 10px;
    border: none;
    border-radius: 4px;
    background: #222;
    color: white;
}

.register-box-fix {
    padding: 10px 43px;
    outline: none;
    outline: none;
    position: relative;
    border-radius: 20px;
    background: linear-gradient(92deg, #F90 -32.09%, #8C31FF 96.86%);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

}

.register-box-fix {
    display: flex;
    gap: 10px;
}



.register-box-fix::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 20px;
    background-color: #19181D;
    z-index: -1;
    transition: 200ms
}

.register-box-fix::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(92deg, #F90 -32.09%, #8C31FF 96.86%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
}

.register-box-fix:hover::before {
    opacity: 0%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.register-box-fix:hover::after {
    color: #19181D;
}



.Login-button {
    padding: 10px 43px;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    background: linear-gradient(92deg, #F90 -32.09%, #8C31FF 96.86%);
    cursor: pointer;
    white-space: nowrap;
    text-align: center;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.Login-button::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 20px;
    background-color: #19181D;
    z-index: -1;
    transition: 200ms
}

.Login-button::after {
    content: attr(data);
    font-size: 16px;
    background: linear-gradient(92deg, #F90 -32.09%, #8C31FF 96.86%);
    -webkit-background-clip: text;
    color: transparent;
    transition: 200ms;
}

.Login-button:hover::before {
    opacity: 0%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.Login-button:hover::after {
    color: #19181D;
}


.buttons-log-form {
    display: flex;
    gap: 10px;

}